<div class="container info">
    <div class="span3 well">
        <div class="center">
            <a href="#aboutModal" data-toggle="modal" data-target="#myModal"><%= image_tag (current_user.image), class: "round borderd center" %></a>
            <h3><%= current_user.name %></h3>
            <p>  <%= current_user.email %> </p>
            <em>click for more</em>
        </div>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header bg-dark">
                    <button type="button" style="color:white" class="close btn-sm" data-dismiss="modal" aria-hidden="true">x</button>
                </div>
                <div class="modal-body">
                    <div class="center">
                        <%= image_tag (current_user.image), class: "round center" %>
                        <h3 class="media-heading "><%= current_user.name %></h3>
                        <p>  <%= current_user.email %> </p>
                        <hr>
                        <p>  <strong>Phone:</strong> <%= current_user.phone %> </p>
                        <p>  <strong>Tax:</strong> <%= current_user.tax_id %> </p>
                        <p>  <strong>Address:</strong> <%= current_user.address %> </p>
                    </div>
                    <hr>
                    <div class="center">
                      <p><strong>Description </strong></p>
                      <%= current_user.bio %>
                    </div>
                </div>
                <div class="modal-footer center bg-dark" style="width: 100%; justify-content: center;">
                    <%= link_to 'Edit', edit_user_registration_path, class: "btn btn-primary center" %>
                </div>
            </div>
        </div>
    </div>
</div>