<div class="right border p-4 bg-dark form_coupon">
  <%= form_with model: @coupon, name:"coupon-form", local: true do |f| %>
    <div class="form-group col-sm-12">
        <%= f.label :name, class: "control-label" %>
        <%= f.text_field :name, class: "form-control", id: "text-check"%>
    </div>
    <div class="form-group col-sm-12">
        <%= f.label :percentage, class: "control-label" %>
        <%= f.text_field :percentage, class: "form-control", id: "text-check"%>
    </div>
    <div class="form-group col-sm-12">
        <%= f.label :quantity, class: "control-label" %>
        <%= f.text_field :quantity, class: "form-control", id: "text-check"%>
    </div>
    <%= f.submit "Submit", class: 'submit btn btn-primary mr-3', style:"float:right" %>
  <% end %>
</div>